doc/build
a.out
*~
*.o
*.lst
*.bin
*.elf
*.hex
*.bak
*.ii
*.i
*.d
*.map
*.a
*.pdf
*.zip
*.a
*.so*
cword_list
cword_htable
cword_tree
cword_vector
Maias_20001210.txt
.vscode
main
wqueue
wqueue1
wqueue2
wqueue3
wqueue4
wqueue5
wqueue6
wcounter_array
wcounter_htable
wcounter_list
wcounter_tree
wcounter_vector
wcounter_vector_ptr
